<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\ConnectApi.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
        <environmentVariables>
          <!-- 
          Uncomment this out to enable Instana:
          <environmentVariable name="CORECLR_ENABLE_PROFILING" value="1" />
          <environmentVariable name="CORECLR_PROFILER" value="{FA8F1DFF-0B62-4F84-887F-ECAC69A65DD3}" />
          <environmentVariable name="CORECLR_PROFILER_PATH_64" value="C:\Program Files\LightSpeed\HTTP\ConnectApi\instana_tracing\CoreRewriter_x64.dll" />
          <environmentVariable name="CORECLR_PROFILER_PATH_32" value="C:\Program Files\LightSpeed\HTTP\ConnectApi\instana_tracing\CoreRewriter_x32.dll" />
          <environmentVariable name="DOTNET_STARTUP_HOOKS" value="C:\Program Files\LightSpeed\HTTP\ConnectApi\Instana.Tracing.Core.dll" />
          <environmentVariable name="INSTANA_AGENT_KEY" value="kTLMgAZpS0uIbggSqcAhsA" />
          <environmentVariable name="INSTANA_ENDPOINT_URL" value="https://serverless-orange-saas.instana.io" />-->
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>